<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Output</title>
  </head>
  <body>
    <p>Length is @Model.Length</p>
    <p>Width is @Model.Width</p>
    <p>Weight is @Model.Weight</p>
    <p>Height is @Model.Height</p>
    <p>Distance is @Model.Distance</p>

    <p>The volume is @Model.Calculator()</p>
  </body>
</html>
